.dialog-head {
  background-color: rgb(185, 217, 235);
}

.dialog-content {
  margin-top: 1rem;
}

.text-field {
  margin: 0.5rem;
}

.cancel-button {
  background-color: blanchedalmond;
}

.submit-button {
  background-color: rgb(170, 206, 249);
}
