.dialogHead {
  background-color: rgb(185, 217, 235);
}

.dialogContent {
  margin-top: 1rem;
}

.textField {
  margin: 0.5rem;
}

.cancelButton {
  background-color: blanchedalmond;
}

.submitButton {
  background-color: rgb(170, 206, 249);
}
