div.list-page-paper {
  background-color: black;
}

.entity-title {
  color: gold;
  padding: 1rem 0;
  text-align: center;
}

button.create-button {
  border: 1px solid antiquewhite;
  margin-bottom: 1rem;
  padding: 1rem;
  left: 80%;
}

th.table-headers {
  font-size: large;
  font-weight: 600;
  color: rgb(137, 137, 238);
  text-align: center;
}

td.table-cells {
  text-align: center;
  color: white;
}

button.icon-button {
  color: antiquewhite;
}

@media only screen and (max-width: 600px) {
  th.table-headers {
    font-size: small;
    font-weight: 400;
    text-align: center;
  }
  /* 
  table tbody td:before {
    content: attr(data-label);

    font-weight: bold;
    margin-right: 0.5em;
  } */
}
