.Search {
  height: calc(100vh - 20px);
  overflow: hidden;
  /* background-image: url(https://media.istockphoto.com/id/178149253/photo/deep-space-background.jpg?s=612x612&w=0&k=20&c=w1hb2H1C-blV918LoG9mGB02nJY6cLJpR5Szfg7sLqE=); */
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.search-head {
  width: 70%;
  font-size: 300%;
  color: rgba(234, 234, 19, 0.6);
  margin-left: 15%;
  margin-bottom: 2rem;
  text-align: center;
}

div.search-input {
  border: solid 3px rgb(88, 88, 209);
  border-radius: 15px;
  width: 45%;
}
.search-popup {
  max-height: 450px;
}

.result-popup {
  padding: 20px;
  background-color: rgb(225, 237, 242);
}

.popover-paper {
  width: 40%;
  margin-left: -2%;
  margin-top: 0.5rem;
}

.starsWars-img {
  width: 40%;
  margin-left: 30%;
  margin-top: 3rem;
  display: block;
  opacity: 0.5;
}

.search-icon {
  color: rgba(240, 248, 255, 0.6);
}
